.upload-page img {
    width: 100%;
}

.upload-page img.checkmark {
    width: 10%;
}

.upload-page li {
    display: flex;
    align-items: center;
}

.upload-page .guide-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upload-page .guide-images img {
    width: 300px;
}